.filter-container {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  font-family: Arial, sans-serif;
}

.input-customised-container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(128,128,128,0.4);
  padding: 10px 0;
  width: 100%;
  cursor: pointer;
}

.checkbox {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.customised-text {
  font-weight: 500;
  font-size: 16px;
  color: #000000;
}

.different-filter-section {
  width: 100%;
  margin: 15px 0;
  display: flex;
  flex-direction: column;
}

.dropdown-label {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 16px;
  color: #000;
}

.ideal-for-select {
  padding: 8px 12px;
  font-size: 14px;
  border-style: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}
hr{
    margin-top: 20px;
}
.selected-option {
  margin-top: 8px;
  font-size: 14px;
  font-weight: 500;
  color: #000;
  margin-top: 10px;
  margin-bottom: 10px;
}
