.product-card-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style: none;
    width: 100%;
    /* background-color:gainsboro; */
}
.product-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    margin: 10px;
    padding: 10px;
    border-radius:10px;
    /* height: 200px; */
    width: 250px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}
/* .image-container{
 background-color:gainsboro;
 padding: 30px;
} */
 span{
    height: 40px;
    width: 20px;
 }
 .product-card-price span {
  margin-right: 2px;
  font-weight: 700;
}
.product-card-rating {
    font-weight: 700;
    font-size: 16px;
}
.product-card-rating span {
    margin-right: 2px;
    font-weight: 700;
}
.product-card-price{
    margin-top: 0px 0px 0px 0px;
    font-size: 20px;
    font-weight: 700;
}
 .product-card-title{
    font-size: 12px;
    margin-top: 0px;
    margin-top: 10px;
    font-family: 'Times New Roman', Times, serif;
    opacity: 40%;
 }
 .product-card-details p {
    margin-top: 0px;
 }
 .product-card-details {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
 }